@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

body {
  font-family: var(--font-poppins), sans-serif;
  background-color: white;
  color: black;
}

/* Dark mode styles example */
.dark body {
  background-color: #0b1120;
  color: white;
}
